body{
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contornopantalla {
    display: block;
    width: 500px;
    height: max-content;
}
.cabecerapantalla{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nombreapp{
    font-size: 25px;
    margin-left: 10px;
    color: black;
    text-align:start;
    font-family: Arial, sans-serif;
}

.historiascabecera{
    display: flex;
}
.contenedorhistorias {
    display: flex;
}
.contenedorfoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.fotoperfil1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(201, 64, 6);
    margin-left: 25px;
}
.nombrehistoria {
    display: flex;
    align-items: center;
    margin-left: 25px;
}


.post {
    display: block;
    width: 500px;
    height: max-content;
}
.cabecerapost {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    justify-content: space-between;
    
}
.fotoperfilpost2{
    display: flex;
    margin: 10px;
}
.fotoperfilpost {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nombreusuariopost1 {
    display: flex;
    margin-left: 10px;

}
.puntoscabecerapost {
    display: flex;
    margin: 30px;
    font-size: 20px;
}

.fotopost{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
}
.fotopost1 {
    width: 100%;
    height: 400px;
    object-fit:contain;
}

.barraemoticonos{
    display: flex;
    align-items: center;    
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}
.primeros3 {
    display: flex;   
    flex-direction: row;
    gap: 30px   ;
    margin: 10px;
}
.emopticonocorazonpost {
    display: flex;
    font-size: 20px;
}
.emoticonomensajepost {
    display: flex;
    font-size: 20px;
}
.emoticonoenviarpost {
    display: flex;
    font-size: 20px;
}
.emoticonoguardarpost {
    display: flex;
    margin: 20px;
    font-size: 20px;
}

.usuarioscorazon {
    display: flex;
    align-items: center;
}
.fotoperfilmegustas {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}
.fotoperfilmegustas1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: -12px;
}
.nombrecuentascorazon {
    display: flex;  
    align-items: center;
    margin-left: 10px;
    height: 30px;
}

